.field-bomb {
    background-image: url(img/buttons/mine_explode.png);
}

.field-flag {
    background-image: url(img/buttons/mine_mark.png);
}

.field-default {
    background-image: url(img/buttons/02_default.png);
}

.field-0 {
    background-image: url(img/buttons/02_0.png)
}

.field-1 {
    background-image: url(img/buttons/02_1.png)
}

.field-2 {
    background-image: url(img/buttons/02_2.png)
}

.field-3 {
    background-image: url(img/buttons/02_3.png)
}

.field-4 {
    background-image: url(img/buttons/02_4.png)
}

.field-5 {
    background-image: url(img/buttons/02_5.png)
}

.field-6 {
    background-image: url(img/buttons/02_6.png)
}

.field-7 {
    background-image: url(img/buttons/02_7.png)
}

.field-8 {
    background-image: url(img/buttons/02_8.png)
}