:root {
    --header-height: 200px;
    --footer-height: 100px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(img/Background/Full\ bg.png);
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    width: 100%;
}

header img {
    width: 80%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: auto;
    width: 100%;
}

#end-frame {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end-frame img {
    width: 100%;
}

#end-frame img:last-child {
    width: 50%;
    position: absolute;
    bottom: 10%;
    z-index: 2;
    cursor: pointer;
}

#end-frame img:last-child:hover {
    opacity: 0.9;
}

footer {
    height: var(--footer-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

footer a {
    text-decoration: none;
    color: brown;
    padding-inline: 8px;
    font-weight: bold;
}

.gamefieldRow {
    display: flex;
    margin: 5px;
}

.field {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: grey;
    margin: 5px;
    background-size: cover;
}

.field:hover {
    opacity: 0.6;
    /* background-image: url(img/buttons/02_default_hover.png); */
}

.d-none {
    display: none !important;
}