.gameContainer {
    display: flex;
    background-color: red;
    margin: 5px;
}

.bgB {
    background-color: blue;
}

.field {
    height: 50px;
    width: 50px;
    background-color: grey;
    margin: 5px;
}